#navmain {
    padding: 10px;
    background-color: white;
    border-bottom: black 50px;
    height: 65px;
}

body {
    color: #4a4a4a;
    background-color: black;
    background: url("https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background-size: 100%;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    color: black;
    font-weight: bold;
    line-height: 1.125;
    text-shadow: 6px 6px 4px whitesmoke, 2px 2px 1px skyblue;
}

#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.cardimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: 28%;
    padding: 20px;
    background-color: lightgrey;
}

