.navbar {
	width: 100%;
    padding: 0px;
}

.navbar-logo {
    size: large;
    width: 175px;
}

#navbar-items {
    font-size: larger;
}

.buttons {
    padding: 10px;
}

#signupbutton {
    background-color: #1569C7;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
}

#signupbutton:hover {
    color: black;
    box-shadow: 10px 10px 10px black;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background: linear-gradient(rgba(58, 58, 58, 0.8), rgba(75, 125, 231, 0.8)), url("https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(58, 58, 58, 0.8), rgba(75, 125, 231, 0.8)), url("https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.overlay {
    position: relative;
}

.text {
    position: absolute;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

.wrapper {
    position: relative;
    margin: 0 10px;
}

.letter {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.shadow {
    position: relative;
    font-size: 20px;
    /* top: 2px; */
    left: 2px;
    color: #000;
    opacity: 0.2;
}



.content h1 {
    color: white;
    font-weight: bold;
    line-height: 1.125;
    text-shadow: 5px 5px 4px grey, 3px 3px 1px black;
}

.content h2, .content h3, .content h4, .content h5, .content h6 {
    color: white;
    font-weight: bold;
    line-height: 1.125;
    text-shadow: 5px 5px 4px grey, 2px 2px 1px black;
}


#homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#marqueecontainer {
    border-radius: 25px;
}

#marquee {
    background-color: #1569C7;
}

#marquee:hover {
    box-shadow: 10px 10px 20px black;
    color: black;
}

#marquee2container {
    border-radius: 25px;
}

#marquee2 {
    background-color: black;
}

#marquee2:hover {
    box-shadow: 10px 10px 20px #1569C7;
    color: #1569C7;
}

.cardimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal {

}

.footer {
    padding: 20px;
    background-color: lightgrey;
    width: 100%;
}

