.navbar {
	width: 100%;
    padding: 0px;
}

.navbar-logo {
    size: large;
    width: 175px;
}

#navbar-items {
    font-size: larger;
}

.buttons {
    padding: 10px;
}

#signupbutton {
    background-color: #1569C7;
    padding-top: 30px;
    padding-right: 10px;
    padding-bottom: 30px;
}

#signupbutton:hover {
    color: black;
    box-shadow: 10px 10px 10px black;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") no-repeat;
    background: linear-gradient(rgba(54, 56, 173, 0.8), rgba(75, 125, 231, 0.8)), url("https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(rgba(54, 56, 173, 0.8), rgba(75, 125, 231, 0.8)), url("https://images.pexels.com/photos/265685/pexels-photo-265685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 100%;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
}

.overlay {
    position: relative;
}

.text {
    position: relative;
    top: 125%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

}

.wrapper {
    position: relative;
    margin: 0 10px;
}

.letter {
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 0 rgba(0,0,0,0.5);
}

.shadow {
    position: relative;
    font-size: 20px;
    /* top: 2px; */
    left: 2px;
    color: #000;
    opacity: 0.2;
}


.content h1 {
    color: white;
    font-weight: bold;
    line-height: 1.125;
    text-shadow: 5px 5px 4px grey, 3px 3px 1px black;
}

#toptrendingmovies {
color: white;
font-weight: bold;
line-height: 1.125;
text-shadow: 3px 3px 2px white, 5px 5px 3px #4369e4;
text-transform: uppercase;
background-image: linear-gradient(
    -125deg,
    #132668 20%,
    #205586 40%,
    #261a94 50%,
   	#082c91 40%,
	#2e73db 20%
  );
background-size: auto auto;
background-clip: border-box;
background-size: 200% auto;
color: #fff;
background-clip: text;
text-emphasis-color: transparent;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 3s linear infinite;
display: inline-block;
}

@keyframes textclip {
	to {
	  background-position: 200% center;
	}
  }


.content h2, .content h3, .content h4, .content h5, .content h6 {
    color: white;
    font-weight: bold;
    line-height: 1.125;
    text-shadow: 5px 5px 4px grey, 2px 2px 1px black;
}


#homepage {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#marqueecontainer {
    border-radius: 25px;
}

#marquee {
    background-color: #1569C7;
}

#marquee:hover {
    box-shadow: 10px 10px 20px black;
    color: black;
}

#marquee2container {
    border-radius: 25px;
}

#marquee2 {
    background-color: black;
}

#marquee2:hover {
    box-shadow: 10px 10px 20px #1569C7;
    color: #1569C7;
}

#backtotop {
    font-size: 48px;
    color: white;
    text-align:center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#backtotop:hover {
    color:rgb(8, 22, 97);
}

.cardimage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    padding: 15px;
    background-color: lightgrey;
    width: 110%;
}

.quoteModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content/Box */
.quoteModal-content {    
    background-color: #000000;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(3, 19, 244);
    text-decoration: hand;
    cursor: pointer;
}

#quotecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#movieQuote {
    font-style: italic;
    font-size: 24px;
}

#movie {
    color:rgb(32, 88, 207);
}

/* the tape */
.tape {
    height: 40px;
    width: 75px;
    border: none;
}

.tape:hover {
    animation: shake 0.8s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


/* Mobile Styling */
@media screen and (min-width: 320px) and (max-width: 480px) { 
   #welcome{
    font-size: 34px !important;
    }
   
    .letter {
    font-size: 39px !important;

    }

    .shadow {
    font-size: 20px !important;
    }

    .wrapper{
    padding: 0%;
    margin: 5px;
    }
}